In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/martinwg/ISA591/main/data/pva97nk.csv')
df.head()

,TARGET_B,ID,TARGET_D,GiftCnt36,GiftCntAll,GiftCntCard36,GiftCntCardAll,GiftAvgLast,GiftAvg36,GiftAvgAll,...,PromCntCardAll,StatusCat96NK,StatusCatStarAll,DemCluster,DemAge,DemGender,DemHomeOwner,DemMedHomeValue,DemPctVeterans,DemMedIncome
0,0,14974,NaN,2,4,1,3,$17.00,$13.50,$9.25,...,13,A,0,0,NaN,F,U,$0,0,$0
1,0,6294,NaN,1,8,0,3,$20.00,$20.00,$15.88,...,24,A,0,23,67.0,F,U,$186800,85,$0
2,1,46110,$4.00,6,41,3,20,$6.00,$5.17,$3.73,...,22,S,1,0,NaN,M,U,$87600,36,$38750
3,1,185937,$10.00,3,12,3,8,$10.00,$8.67,$8.50,...,16,E,1,0,NaN,M,U,$139200,27,$38942
4,0,29637,NaN,1,1,1,1,$20.00,$20.00,$20.00,...,6,F,0,35,53.0,M,U,$168100,37,$71509

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9686 entries, 0 to 9685
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TARGET_B          9686 non-null   int64
 1   ID                9686 non-null   int64
 2   TARGET_D          4843 non-null   object
 3   GiftCnt36         9686 non-null   int64
 4   GiftCntAll        9686 non-null   int64
 5   GiftCntCard36     9686 non-null   int64
 6   GiftCntCardAll    9686 non-null   int64
 7   GiftAvgLast       9686 non-null   object
 8   GiftAvg36         9686 non-null   object
 9   GiftAvgAll        9686 non-null   object
 10  GiftAvgCard36     7906 non-null   object
 11  GiftTimeLast      9686 non-null   int64
 12  GiftTimeFirst     9686 non-null   int64
 13  PromCnt12         9686 non-null   int64
 14  PromCnt36         9686 non-null   int64
 15  PromCntAll        9686 non-null   int64
 16  PromCntCard12     9686 non-null   int64
 17  PromCntCard36     9686 non-null   int64
 18  PromCntCardAll    9686 non-null   int64
 19  StatusCat96NK     9686 non-null   object
 20  StatusCatStarAll  9686 non-null   int64
 21  DemCluster        9686 non-null   int64
 22  DemAge            7279 non-null   float64
 23  DemGender         9686 non-null   object
 24  DemHomeOwner      9686 non-null   object
 25  DemMedHomeValue   9686 non-null   object
 26  DemPctVeterans    9686 non-null   int64
 27  DemMedIncome      9686 non-null   object
dtypes: float64(1), int64(17), object(10)
memory usage: 2.1+ MB

In [3]:
## Skewness (Numeric Variables)
## + means that variable is skewed to the right (positive)
## - means that variable is skewed to the left (negative)
## -1 < skew < 1 (fairly symmetric)
## linear models (assume symmetric-normal distributions), non-linear (can benefit from symmetric)
df.select_dtypes(include = "number").skew()

TARGET_B            0.000000
ID                 -0.057613
GiftCnt36           1.288353
GiftCntAll          1.863109
GiftCntCard36       1.172452
GiftCntCardAll      1.331353
GiftTimeLast       -0.778047
GiftTimeFirst       0.195399
PromCnt12           2.873723
PromCnt36           0.261958
PromCntAll          0.460765
PromCntCard12       0.684994
PromCntCard36      -0.426600
PromCntCardAll      0.142856
StatusCatStarAll   -0.162858
DemCluster         -0.086715
DemAge             -0.387912
DemPctVeterans     -0.207059
dtype: float64

In [4]:
## categoricals
## check of number of levels
df.select_dtypes('O').nunique()

TARGET_D             70
GiftAvgLast          90
GiftAvg36           654
GiftAvgAll         1584
GiftAvgCard36       399
StatusCat96NK         6
DemGender             3
DemHomeOwner          2
DemMedHomeValue    2533
DemMedIncome       4463
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9686 entries, 0 to 9685
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TARGET_B          9686 non-null   int64
 1   ID                9686 non-null   int64
 2   TARGET_D          4843 non-null   object
 3   GiftCnt36         9686 non-null   int64
 4   GiftCntAll        9686 non-null   int64
 5   GiftCntCard36     9686 non-null   int64
 6   GiftCntCardAll    9686 non-null   int64
 7   GiftAvgLast       9686 non-null   object
 8   GiftAvg36         9686 non-null   object
 9   GiftAvgAll        9686 non-null   object
 10  GiftAvgCard36     7906 non-null   object
 11  GiftTimeLast      9686 non-null   int64
 12  GiftTimeFirst     9686 non-null   int64
 13  PromCnt12         9686 non-null   int64
 14  PromCnt36         9686 non-null   int64
 15  PromCntAll        9686 non-null   int64
 16  PromCntCard12     9686 non-null   int64
 17  PromCntCard36     9686 non-null   int64
 18  PromCntCardAll    9686 non-null   int64
 19  StatusCat96NK     9686 non-null   object
 20  StatusCatStarAll  9686 non-null   int64
 21  DemCluster        9686 non-null   int64
 22  DemAge            7279 non-null   float64
 23  DemGender         9686 non-null   object
 24  DemHomeOwner      9686 non-null   object
 25  DemMedHomeValue   9686 non-null   object
 26  DemPctVeterans    9686 non-null   int64
 27  DemMedIncome      9686 non-null   object
dtypes: float64(1), int64(17), object(10)
memory usage: 2.1+ MB

In [6]:
## correct the $ in the variables
## DemMedIncome, DemMedHomeValue, GiftAvgCard36, GiftAvgAll, GiftAvg36, GiftAvgLast, TARGET_D
df['DemMedIncome'] = df['DemMedIncome'].str.replace('$', '').astype('float')
df['DemMedHomeValue'] = df['DemMedHomeValue'].str.replace('$', '').astype('float')
df['GiftAvgCard36'] = df['GiftAvgCard36'].str.replace('$', '').astype('float')
df['GiftAvgAll'] = df['GiftAvgAll'].str.replace('$', '').astype('float')
df['GiftAvg36'] = df['GiftAvg36'].str.replace('$', '').astype('float')
df['GiftAvgLast'] = df['GiftAvgLast'].str.replace('$', '').astype('float')
df['TARGET_D'] = df['TARGET_D'].str.replace('$', '').astype('float')

In [8]:
## DemCluster encode to categorical
df['DemCluster'] = df['DemCluster'].astype('O')

## **Encoding Categorical Predictors**

* Dummy-encoding
* One-Hot encoding
* Label encoding

In [9]:
## 3 copies of the dataset
## df_dummy (dummy-encoding)
## df_label (label-encoding)
## df_mixed (one-hot, label, dummy)
df_dummy = df.copy()
df_label = df.copy()
df_mixed = df.copy()

In [10]:
df.StatusCat96NK.value_counts()

StatusCat96NK
A    5826
S    2365
F     660
N     574
E     227
L      34
Name: count, dtype: int64

In [11]:
## Dummy-encoding
## Drop one level
df_dummy = pd.get_dummies(df_dummy, drop_first = True, columns = ['StatusCat96NK', 'DemGender', 'DemHomeOwner'])
df_dummy.head()

,TARGET_B,ID,TARGET_D,GiftCnt36,GiftCntAll,GiftCntCard36,GiftCntCardAll,GiftAvgLast,GiftAvg36,GiftAvgAll,...,DemPctVeterans,DemMedIncome,StatusCat96NK_E,StatusCat96NK_F,StatusCat96NK_L,StatusCat96NK_N,StatusCat96NK_S,DemGender_M,DemGender_U,DemHomeOwner_U
0,0,14974,NaN,2,4,1,3,17.0,13.50,9.25,...,0,0.0,False,False,False,False,False,False,False,True
1,0,6294,NaN,1,8,0,3,20.0,20.00,15.88,...,85,0.0,False,False,False,False,False,False,False,True
2,1,46110,4.0,6,41,3,20,6.0,5.17,3.73,...,36,38750.0,False,False,False,False,True,True,False,True
3,1,185937,10.0,3,12,3,8,10.0,8.67,8.50,...,27,38942.0,True,False,False,False,False,True,False,True
4,0,29637,NaN,1,1,1,1,20.0,20.00,20.00,...,37,71509.0,False,True,False,False,False,True,False,True

In [13]:
## Variable Types
df_dummy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9686 entries, 0 to 9685
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TARGET_B          9686 non-null   int64
 1   ID                9686 non-null   int64
 2   TARGET_D          4843 non-null   float64
 3   GiftCnt36         9686 non-null   int64
 4   GiftCntAll        9686 non-null   int64
 5   GiftCntCard36     9686 non-null   int64
 6   GiftCntCardAll    9686 non-null   int64
 7   GiftAvgLast       9686 non-null   float64
 8   GiftAvg36         9686 non-null   float64
 9   GiftAvgAll        9686 non-null   float64
 10  GiftAvgCard36     7906 non-null   float64
 11  GiftTimeLast      9686 non-null   int64
 12  GiftTimeFirst     9686 non-null   int64
 13  PromCnt12         9686 non-null   int64
 14  PromCnt36         9686 non-null   int64
 15  PromCntAll        9686 non-null   int64
 16  PromCntCard12     9686 non-null   int64
 17  PromCntCard36     9686 non-null   int64
 18  PromCntCardAll    9686 non-null   int64
 19  StatusCatStarAll  9686 non-null   int64
 20  DemCluster        9686 non-null   object
 21  DemAge            7279 non-null   float64
 22  DemMedHomeValue   9686 non-null   float64
 23  DemPctVeterans    9686 non-null   int64
 24  DemMedIncome      9686 non-null   float64
 25  StatusCat96NK_E   9686 non-null   bool
 26  StatusCat96NK_F   9686 non-null   bool
 27  StatusCat96NK_L   9686 non-null   bool
 28  StatusCat96NK_N   9686 non-null   bool
 29  StatusCat96NK_S   9686 non-null   bool
 30  DemGender_M       9686 non-null   bool
 31  DemGender_U       9686 non-null   bool
 32  DemHomeOwner_U    9686 non-null   bool
dtypes: bool(8), float64(8), int64(16), object(1)
memory usage: 1.9+ MB

In [14]:
## label encoding
## Just an example to do label encoding (DO NOT DO THIS FOR THIS VARIABLE)

from sklearn.preprocessing import LabelEncoder

## instance
le = LabelEncoder()

## fit and transform (.fit_transform)
df_label['StatusCat96NK'] = le.fit_transform(df_label['StatusCat96NK'])

In [15]:
df_label['StatusCat96NK'].value_counts()

StatusCat96NK
0    5826
5    2365
2     660
4     574
1     227
3      34
Name: count, dtype: int64

In [19]:
df_mixed

,TARGET_B,ID,TARGET_D,GiftCnt36,GiftCntAll,GiftCntCard36,GiftCntCardAll,GiftAvgLast,GiftAvg36,GiftAvgAll,...,PromCntCardAll,StatusCat96NK,StatusCatStarAll,DemCluster,DemAge,DemGender,DemHomeOwner,DemMedHomeValue,DemPctVeterans,DemMedIncome
0,0,14974,NaN,2,4,1,3,17.0,13.50,9.25,...,13,A,0,0,NaN,F,U,0.0,0,0.0
1,0,6294,NaN,1,8,0,3,20.0,20.00,15.88,...,24,A,0,23,67.0,F,U,186800.0,85,0.0
2,1,46110,4.0,6,41,3,20,6.0,5.17,3.73,...,22,S,1,0,NaN,M,U,87600.0,36,38750.0
3,1,185937,10.0,3,12,3,8,10.0,8.67,8.50,...,16,E,1,0,NaN,M,U,139200.0,27,38942.0
4,0,29637,NaN,1,1,1,1,20.0,20.00,20.00,...,6,F,0,35,53.0,M,U,168100.0,37,71509.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9681,1,2796,25.0,2,2,2,2,10.0,15.00,15.00,...,11,N,0,44,NaN,M,H,68200.0,38,45909.0
9682,0,184939,NaN,3,4,1,1,10.0,13.33,11.50,...,13,A,0,44,NaN,U,H,71900.0,35,50530.0
9683,1,184974,10.0,9,14,5,7,10.0,8.78,7.71,...,18,S,1,40,71.0,F,H,115700.0,32,0.0
9684,0,184994,NaN,2,7,0,1,5.0,12.50,7.43,...,16,A,0,40,NaN,M,H,106300.0,32,62717.0
9685,0,1928,NaN,8,15,7,10,5.0,4.88,4.53,...,21,A,1,38,81.0,F,H,110400.0,36,59813.0

In [21]:
df_mixed.StatusCat96NK.value_counts()

StatusCat96NK
A    5826
S    2365
F     660
N     574
E     227
L      34
Name: count, dtype: int64

In [24]:
## MIXED ENCODING
## dummy encoding for StatusCat96NK, One-Hot for DemHomeOwner
df_mixed = pd.get_dummies(df_mixed, drop_first = True, columns = ['StatusCat96NK'])  ## dummy
df_mixed = pd.get_dummies(df_mixed, columns = ['DemHomeOwner'])  ## one-hot

In [25]:
## DUMMY-ENCODED
## creates lower dimensionality
df_dummy.to_csv('vet_data_clean.csv', index = False)

## **Encoding Text Data**

If you have variables that contain text AND you can extract information we can use vectorizers.

In [27]:
df = pd.read_csv('https://raw.githubusercontent.com/martinwg/ISA591/main/data/clothing_reviews.csv')

df.head()

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [29]:
df.dropna(inplace = True)

In [39]:
## CountVectorizer (uses a bag of words)
## TF-IDF Vectorizer (uses inverse frequency )

## let's vectorize the variable "Review Text"
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

## instance
vectorizer = CountVectorizer(max_features=200, stop_words = "english")

## .fit_transform gets the tokens
X = vectorizer.fit_transform(df['Review Text'])

In [40]:
## sparse matrices contain many zeros (compressed)
## if you want the whole matrix use  .toarray()
X.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [41]:
## shape
X.shape

(19662, 200)

In [42]:
## see tokens
vectorizer.get_feature_names_out()

array(['10', 'absolutely', 'actually', 'area', 'arms', 'beautiful',
       'better', 'big', 'bit', 'black', 'blouse', 'blue', 'body', 'boots',
       'bought', 'boxy', 'bra', 'bust', 'buttons', 'buy', 'casual',
       'chest', 'color', 'colors', 'comfortable', 'comfy', 'compliments',
       'cut', 'cute', 'day', 'decided', 'definitely', 'design', 'did',
       'didn', 'different', 'does', 'doesn', 'don', 'dress', 'dressed',
       'dresses', 'easy', 'extra', 'fabric', 'fall', 'feel', 'feels',
       'felt', 'fine', 'fit', 'fits', 'fitted', 'flattering', 'flowy',
       'fun', 'glad', 'going', 'good', 'gorgeous', 'got', 'great',
       'green', 'happy', 'high', 'hips', 'jacket', 'jeans', 'just',
       'lace', 'large', 'lbs', 'leggings', 'length', 'light', 'like',
       'little', 'll', 'long', 'longer', 'look', 'looked', 'looking',
       'looks', 'loose', 'lot', 'love', 'loved', 'lovely', 'low', 'make',
       'makes', 'material', 'medium', 'model', 'navy', 'neck', 'need',
       'nice', 'nicely', 'normally', 'online', 'order', 'ordered',
       'overall', 'pair', 'pants', 'pattern', 'perfect', 'perfectly',
       'person', 'petite', 'photo', 'picture', 'piece', 'pockets',
       'pretty', 'price', 'print', 'probably', 'purchase', 'purchased',
       'quality', 'quite', 'really', 'received', 'recommend', 'red',
       'reference', 'regular', 'retailer', 'return', 'reviews', 'right',
       'run', 'runs', 'said', 'sale', 'saw', 'say', 'shape', 'sheer',
       'shirt', 'short', 'shorter', 'shoulders', 'size', 'sizes',
       'sizing', 'skinny', 'skirt', 'sleeves', 'slightly', 'small',
       'smaller', 'soft', 'spring', 'store', 'stretch', 'style', 'summer',
       'super', 'sure', 'sweater', 'tall', 'tank', 'tee', 'think',
       'thought', 'tight', 'time', 'tops', 'tried', 'true', 'try', 'tts',
       'underneath', 'unfortunately', 'unique', 'usual', 'usually', 've',
       'waist', 'want', 'wanted', 'warm', 'wasn', 'way', 'wear',
       'wearing', 'weight', 'went', 'white', 'wide', 'wish', 'wore',
       'work', 'worn', 'worth', 'xs'], dtype=object)

In [43]:
## incorporate this tokens to my dataset
df = pd.concat([df, pd.DataFrame(X.toarray(), columns = vectorizer.get_feature_names_out())], axis = 1)

In [44]:
df.head()

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,...,weight,went,white,wide,wish,wore,work,worn,worth,xs
2,1077.0,60.0,Some major design flaws,I had such high hopes for this dress and reall...,3.0,0.0,0.0,General,Dresses,Dresses,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1049.0,50.0,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5.0,1.0,0.0,General Petite,Bottoms,Pants,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,847.0,47.0,Flattering shirt,This shirt is very flattering to all due to th...,5.0,1.0,6.0,General,Tops,Blouses,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,1080.0,49.0,Not for the very petite,"I love tracy reese dresses, but this one is no...",2.0,0.0,4.0,General,Dresses,Dresses,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,858.0,39.0,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5.0,1.0,1.0,General Petite,Tops,Knits,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0